@import '@/styles/variables';

.header {
  border-bottom: 1px solid $color-1;
  background-color: $bg-color-1;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;

    & > a {
      font-weight: 400;
      font-size: 15px;
      letter-spacing: normal;
    }
  }
}
