{
  "tabWidth": 2,
  "printWidth": 100,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "importOrder": [
    "^(?!@/).*(react|next)(.(?!.*css$|.*scss$))*$",
    "<THIRD_PARTY_MODULES>",
    "^(@/).*/use[\\w]*$",
    "^(@/contexts)(.*)$",
    "^(@/layouts)(.*)$",
    "^(@/components)(.*)$",
    "^(@/views)(.*)$",
    "^(@/public)(.*)$",
    "(.scss)$",
    "(svg|jpg|jpeg|png)$"
  ],
  "importOrderSeparation": true
}
