@import '@/styles/variables';

.header {
  display: grid;
  grid-column-gap: 20px;
  grid-template-areas: 'b b' 'd d';
  grid-template-columns: 5fr 2fr;
  margin-bottom: 35px;

  @media (min-width: 1000px) {
    grid-template-areas: 'b d';
    grid-template-columns: 5fr 2fr;
  }
}
