.moreAbout {
  display: flex;
  justify-content: space-between;

  .image {
    flex: 2;
  }

  .photo {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .info {
    flex: 3;
    padding: 0 30px;
  }
}
