.sidebar {
  grid-area: s;

  .products {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 600px) {
    .products {
      grid-gap: 0.7rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1000px) {
    .products {
      grid-gap: 0.7rem;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
